<html>

<head>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block css %}{% endblock %}
    {% block title %}
        <title>BASE</title>
    {% endblock %}

<style type="text/css">
body {
background-image:url("../../accounts/static/accounts/images/1.jpeg");
}
</head>
<body>
<header>

   <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/accounts/index">ThePortal</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/accounts/post">Post</a></li>
      <li><a href="/accounts/profile">Profile</a></li>
      <li><a href="/accounts/feedback">Feedback</a></li>
      <li><a href="/accounts/friends">Friends</a></li>
        <li><a href="/accounts/home">Blogs</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% block logout %}
      <li><a href="{% url 'accounts:logout' %}"><span class="glyphicon glyphicon-log-out"></span>LogOut</a></li>
      {% endblock %}
      <li><a href="{% url 'accounts:register' %}"><span class="glyphicon glyphicon-user"></span>Register</a></li>
      <li><a href="{% url 'accounts:login' %}"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
    </ul>
  </div>
</nav>

</header>
{% block body %}

{% endblock %}
<footer>

</footer>
</body>
</html>